<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
               
                color:   #c53a9d;
                background-color: #260d34;
                 
            }
        </style>

    </head>
    <body>
         <div class="container diaryEntry-form margin-thirty">
            <a href="http://localhost:8888/" class="link">Home</a>
            <h2 class="margin-thirty">sign up</h2>
            <form id="form-id">
                <div class="form-group margin-twenty">
                    <label for="title" id="title-label">Username</label>
                    <label id="title-error"></label>
                    <input type="text" class="form-control" id="title"
                           placeholder="Enter title">
                </div>
                <div class="form-group margin-ten">
                    <label for="content" id="content-label">Password</label>
                    <label id="content-error"></label>
                    <input type="text" class="form-control" id="content"
                           placeholder="Enter content">
                </div>
                
                <button type="submit" class="button submit">Sign Up </button>
            </form>
        </div>
    </body>


</html>
